<div class="container">
    <h1>
        <span style="float:right; font-size: 0.7rem;">
            <%= link_to "Deconnexion", destroy_user_session_path, method: 'delete' %>
        </span>
        Liste de vos restaurants
    </h1>
    <% if @restaurants.count > 0 %>
        <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
            <li class="list-group-item">
                <%= link_to restaurant.name + " situé à " + restaurant.city, "/restaurant/" + restaurant.id.to_s + "/edit" %>

                <span style="float: right"><%= link_to "X", "/restaurant/" + restaurant.id.to_s + "/destroy" %></span>
            </li>
        <% end %>
    <% else %>
        <span>0 restaurant enregistré.</span>
    <% end %>
    <div style="margin-top: 20px;">
        <%= link_to "Créer un restaurant", "/restaurant/new", :class => "btn btn-primary" %>
        <%= link_to "Retour a la homepage", root_path, :class => "btn" %>
    </div>
</div>